@import 'tailwindcss';

/*for wrapper*/
.wrapper {
  @apply max-w-[1920px] w-[94%] mx-auto;
}

img {
  @apply w-full;
}

.about-banner {
  @apply w-full h-[386px] relative text-white overflow-hidden text-center;
}

.about-banner .wrapper {
  @apply w-full;
}

.about-banner-img {
  @apply overflow-hidden;
}

.about-banner-img img {
  @apply w-full object-cover h-[386px];
}

h3 {
  @apply text-2xl;
}
.about-content h2 {
  @apply text-4xl md:text-6xl my-2 md:my-4 text-center;
}

.about-content p {
  @apply mt-2 text-[15px] font-normal leading-6;
}

.about-content h3 {
  @apply text-xl md:text-2xl;
}

.read-more::before {
  @apply inline-block w-[22px] h-5 mt-1 bg-contain bg-no-repeat;
  content: '';
  background-image: url('../public/bluebook.svg');
}

.image-content-div {
  @apply flex justify-between lg:items-center  flex-col-reverse lg:flex-row gap-y-5 lg:gap-y-0;
}

.bigger-width {
  @apply basis-full lg:basis-[58.5%];
}
.smaller-width {
  @apply basis-full lg:basis-[37.5%];
}

.heading-para {
  @apply text-lg;
}

.heading-para p {
  @apply text-lg;
}

h4 {
  @apply text-xl font-bold;
}

.image-content h3 {
  @apply font-bold;
}

.content-side {
  @apply flex flex-col gap-1;
}

.gray-background {
  @apply bg-[#f4f5f7] rounded-[15px] px-4 py-5;
}

.white-blue-text {
  @apply font-bold text-[40px] leading-14 font-[Playfair_Display];
}

.left-align {
  @apply flex-col lg:flex-row;
}

.right-align {
  @apply flex-col-reverse lg:flex-row-reverse;
}

.margin-top {
  @apply mt-5 md:mt-9;
}

.colorBlack {
  @apply text-[#000];
}

.icon-img {
  @apply bg-[#fff] w-[87px] h-[77px] py-2.5 px-5.5 rounded-[20px];
}

.icons {
  @apply flex flex-col items-center gap-2.5;
}

.icon-list {
  @apply flex flex-wrap gap-0 md:gap-5;
}

.explore {
  @apply bg-[url('../public/sectionBackground.png')] bg-contain bg-no-repeat mb-12;
}

@media only screen and (min-width: 1281px) {
  .wrapper {
    width: 70%;
  }
}
